{{ define "content" }}
<div class="nf-container">
    <div class="card nf-card" style="width: 500px;">
        <div class="card-body">
            <img src="/img/large-logo-gt.svg" alt="guppytech-logo" class="mb-4">
            <div id="not-found" class="text-center">
                <h6>404 - Halaman tidak ditemukan!</h6>
                <span>Tautan link yang anda masukan salah. Klik tombol berikut untuk kembali ke halaman utama.</span>
                <br>
                <a href="/" class="btn btn-guppytech w-50 mt-5">Back</a>
            </div>
        </div>
    </div>
</div>

<style>
    .nf-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .nf-card .card-body img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
{{ end }}