<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go_Starter - {{ .title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
        daisyui: {
          themes: ["light", "dark", "cupcake"],
        },
        plugins: [daisyui],
      };
    </script>
  </head>
  <body class="bg-gray-100">
    <div
      class="container mx-auto w-[100vw] flex items-center justify-center bg-white min-h-[100vh] overflow-x-none"
    >
      {{ template "content" . }}
    </div>
  </body>
</html>
