<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Batumbuah - {{ .title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
        daisyui: {
          themes: ["light", "dark", "cupcake"],
        },
        plugins: [daisyui],
      };
    </script>
  </head>
  <body class="bg-gray-100">
    <div
      class="container mx-auto max-w-md bg-white min-h-[100vh] overflow-x-none"
    >
      {{ template "content" . }} {{ template "navigation" . }}
    </div>
  </body>

  <script>
    setTimeout(() => {
      const toastMessages = document.getElementsByClassName("toastMessage");
      Array.from(toastMessages).forEach((toast) => {
        toast.classList.add("opacity-0");
      });
    }, 1000);

    setTimeout(() => {
      const toastMessages = document.getElementsByClassName("toastMessage");
      Array.from(toastMessages).forEach((toast) => {
        toast.classList.add("invisible");
      });
    }, 1500);

    setTimeout(() => {
      const toastMessages = document.getElementsByClassName("toastMessage");
      Array.from(toastMessages).forEach((toast) => {
        toast.classList.add("hidden");
      });
    }, 2000);
  </script>
</html>
