{{ define "content" }}
<div class="col-lg-6 col-12 content-container-large">
    <div class="header-container-large d-flex justify-content-between" style="margin-bottom: 0px;">
      <h1 class="page-title">{{ .title }}</h1>
    </div>
    <section class="alert-calibration mb-4">
        <span>Sebelum melakukan kalibrasi ulang, harap memperhatikan panduan berikut ini untuk mendapatkan angka dari nilai kalibrasi pertama dan nilai kalibrasi kedua.<a href="https://drive.google.com/drive/folders/1tg2MpN4l_FdxDs1jCqGDhpbdJcVM6JUP?usp=share_link" target="_blank" style="font-weight: bold;"> <u>Download Panduan</u></a></span>
    </section>
    <form class="form-device" id="deivce-settings" method="POST" action="/kalibrasi-sensor">
        <div class="mb-3">
            <label for="device_name" class="form-label">Pilih Perangkat</label>
            <select class="form-select" id="sensor_type" name="sensor_type" aria-label="Default select example" required>
                  <option value="1">Sensor PH-4502C</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="device_name" class="form-label">Pilih Perangkat</label>
            <select class="form-select" id="antares_id" name="antares_id" aria-label="Default select example" required>
                <option value="" disabled selected>Pilih Devices</option>
                {{ range .listDevice }}
                  <option value="{{ .Antares_id }}">{{ .Device_name }}</option>
                {{ end }}
            </select>
        </div>
        <div class="mb-3">
            <label for="antares_id" class="form-label">Nilai Kalibrasi Pertama</label>
            <input type="number" step="any" class="form-control" id="ph_calibration_firstval" name="ph_calibration_firstval" placeholder="Contoh Nilai : 2829,1" required>
            <span class="calibration-span">Gunakan tanda Koma "," Bukan Titik "." untuk bilangan pecahan</span>
        </div>
        <div class="mb-3">
            <label for="device_location" class="form-label">Nilai Kalibrasi Kedua</label>
            <input type="number" step="any" class="form-control" id="ph_calibration_secval" name="ph_calibration_secval" placeholder="Contoh Nilai : 103,9" required>
            <span class="calibration-span">Gunakan tanda Koma "," Bukan Titik "." untuk bilangan pecahan</span>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-guppytech w-50 mt-3">Kalibrasi Ulang</button>
        </div>
    </form>
</div>
<style>
    .calibration-span {
        font-size: 12px;
        color: #6c757d;
    }
</style>
<br><br>
{{ end }}