{{ define "content" }}
<div class="content-container-large bg-transparent p-0">
    <div class="main-container pb-4">
      <div class="row first-summary">

        <!-- map location -->
        <div class="col-12 col-lg-5">
          <div class="card p-lg-4 p-2" style="width: 100%">
            <div class="card-body p-0">
                <div id="map" style="width: 100%; height: 100%; border-radius: 10px;"></div>
            </div>
          </div>
        </div>
        <!-- end map location -->

        <!-- card detail 1 -->
        <div class="col-12 col-lg-3">
          <div class="card" style="width: 100%">
            <div class="card-body">
              <div class="data-device mb-3">
                <p class="title-data">Data Diperbarui</p>
                <p class="value-data">{{ .deviceInfo.Date_updated_formatter }}</p>
              </div>
              <div class="data-device mb-3">
                <p class="title-data">pH saat Ini</p>
                <p class="value-data">{{ .latest_ph }}</p>
              </div>
              <div class="data-device mb-3">
                <p class="title-data">Suhu saat Ini</p>
                <p class="value-data">{{ .latest_temp }} &deg;C</p>
              </div>
              <div class="data-device mb3">
                <p class="title-data">DO Maksimum Saat Ini</p>
                <p class="value-data">{{ .latest_do }}</p>
              </div>
              <div class="data-device mb-3">
                <p class="title-data">Nilai Kalibrasi pH K</p>
                {{ if eq .deviceInfo.Ph_calibration_firstval ""}}
                <p class="value-data">Default Value from Device</p>
                {{ else }}
                <p class="value-data">{{ .deviceInfo.Ph_calibration_firstval }}</p>
                {{ end }}
              </div>
              <div class="data-device mb-3">
                <p class="title-data">Nilai Kalibrasi pH X</p>
                {{ if eq .deviceInfo.Ph_calibration_secval ""}}
                <p class="value-data">Default Value from Device</p>
                {{ else }}
                <p class="value-data">{{ .deviceInfo.Ph_calibration_secval }}</p>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        <!-- end card detail 1 -->

        <!-- card detail 2 -->
        <div class="col-12 col-lg-4">
            <div class="card" style="width: 100%">
              <div class="card-body">
                <div class="data-device mb-3">
                    <p class="title-data">Nama Perangkat</p>
                    <p class="value-data">{{ .deviceInfo.Device_name }}</p>
                </div>
                <div class="data-device mb-3">
                  <p class="title-data">Kode Perangkat IOT</p>
                  <p class="value-data">{{ .deviceInfo.Antares_id }}</p>
                </div>
                <div class="data-device mb-3">
                    <p class="title-data">Lokasi Perangkat</p>
                    <p class="value-data" id="value-loc">{{ .deviceInfo.Device_location }}</p>
                </div>
                <div class="data-device mb-3">
                    <p class="title-data">Merek Perangkat</p>
                    <p class="value-data">{{ .deviceInfo.Brand_name }}</p>
                </div>
                <div class="data-device">
                    <p class="title-data">Otomatisasi</p>
                    <div class="power-status d-flex justify-content-between align-middle">
                      <div>
                          <p class="value-data">
                            {{ if eq .deviceInfo.Mode_id `1` }} Aktif {{ else }} Tidak Aktif {{ end }}
                          </p>
                      </div>
                      <div class="switcher">
                        <label for="toggle-otomatis-{{ .deviceInfo.Device_id }}" {{ if eq .deviceInfo.Mode_id `1`}} onclick="ControllingFromDetail('detail_perangkat/{{ .deviceInfo.Device_id }}/2/{{ .deviceInfo.Status_id }}')" {{ else }} onclick="ControllingFromDetail('detail_perangkat/{{ .deviceInfo.Device_id }}/1/{{ .deviceInfo.Status_id }}')" {{ end }}>
                          <input type="checkbox" {{ if eq .deviceInfo.Mode_id `1` }} Checked {{ else }} {{ end }} id="toggle-otomatis-{{ .deviceInfo.Device_id }}"/><span><small></small></span>
                        </label>
                      </div>
                    </div>
                </div>
                <div class="data-device mb-3">
                    <p class="title-data">Power</p>
                    <div class="power-status d-flex justify-content-between align-middle">
                      <div>
                          <p class="value-data">
                            {{ if eq .deviceInfo.Status_id `11` }} Aktif {{ else }} Tidak Aktif {{ end }}
                          </p>
                      </div>
                      <div class="switcher {{ if eq .deviceInfo.Mode_id `1` }} disabled-switcher {{ else }} {{ end }}">
                        <label for="toggle-manual-{{ .deviceInfo.Device_id }}" {{ if eq .deviceInfo.Status_id `11`}} onclick="ControllingFromDetail('detail_perangkat/{{ .deviceInfo.Device_id }}/{{ .deviceInfo.Mode_id }}/10')" {{ else }} onclick="ControllingFromDetail('detail_perangkat/{{ .deviceInfo.Device_id }}/{{ .deviceInfo.Mode_id }}/11')" {{ end }}>
                          <input type="checkbox" {{ if eq .deviceInfo.Status_id `11` }} Checked {{ else }} {{ end }} id="toggle-manual-{{ .deviceInfo.Device_id }}"/><span><small></small></span>
                        </label>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- end card detail 2 -->
        
        <!-- grafik sensor device -->
        <div class="col-12">
          <div class="card p-lg-4 p-2" style="width: 100%; height: 480px;">
            <div class="card-body p-0">
              <h5 class="card-title graph-card p-lg-4 pt-lg-2">Grafik Sensor {{ .deviceInfo.Device_name }}</h5>
                <div id="chartByid" style="width: 100%;"></div>
                <h5 id="status_chart"></h5>
            </div>
          </div>
        </div>
        <!-- end grafik sensor device -->

        <!-- tabel Log History -->
        <div class="col-12">
          <div class="card p-lg-4 p-2" style="width: 100%; height: 100%;">
            <div class="card-body p-0">
              <div class="table-responsive overflow-scroll">
                <table id="guppytech-table" class="table table-striped report-page" style="width:100%">
                    <thead>
                        <tr style="height: 50px; vertical-align: middle;">
                            <th style="display: none;"></th>
                            <th>History Date</th>
                            <th>Temperature</th>
                            <th>pH</th>
                            <th>Adc pH</th>
                            <th>Maksimum DO</th>
                            <th>Mode</th>
                            <th>Status Device</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .history }}
                        <tr style="height: 50px; vertical-align: middle;">
                            <td style="display: none;">{{ .History_date }}</td>
                            <td>{{ .History_date_formatter }}</td>
                            <td>{{ .History_temperature }}</td>
                            <td>{{ .History_ph }}</td>
                            <td>{{ .History_ph_adc }}</td>
                            <td>{{ .History_dissolved_oxygen }}</td>
                            {{ if eq .History_mode_name "Manual" }}
                            <td><span class="status-manual-table">Manual</span></td>
                            {{ else }}
                            <td><span class="status-auto-table">Otomatis</span></td>
                            {{ end }}
                            {{ if eq .History_status_name "Tidak Aktif" }}
                            <td><span class="status-off-table">Tidak Aktif</span></td>
                            {{ else }}
                            <td><span class="status-on-table">Aktif</span></td>
                            {{ end }}
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
        <!-- End Tabel log History -->
        <div class="d-flex justify-content-end delete-device">
          <button onclick="DeleteDevice('{{ .deviceInfo.Device_id }}')" class="btn btn-danger rounded-4 p-2 mt-4">Hapus Perangkat</button>
        </div>
      </div>
    </div>
</div>

<!-- Map Configuration -->
<script>
    var latitudeDevice = JSON.parse('{{ .latitude }}');
    var longitudeDevice = JSON.parse('{{ .longitude }}');
  
    const map = L.map('map').setView([latitudeDevice, longitudeDevice], 15);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const marker = L.marker([latitudeDevice, longitudeDevice]).addTo(map)
        .bindPopup('Device Location').openPopup();
</script>

<!-- Graph Configuration -->
<script>
  var history_data = JSON.parse('{{ .graphHistory }}');
  
  if (history_data == null) {
    document.getElementById("status_chart").innerHTML = "Tidak ada data yang tersedia";
    $("#chartByid").css("display", "none");
  }

  var temperature = [];
  var ph = [];
  var dissolved_oxygen = [];
  var history_date = [];

  for (i = 0; i < history_data.length; i++) {
    if (history_data[i].History_temperature != 0 && history_data[i].History_ph != 0) {
          temperature.push(history_data[i].History_temperature.toFixed(2));
          ph.push(history_data[i].History_ph.toFixed(2));
          dissolved_oxygen.push(history_data[i].History_dissolved_oxygen.toFixed(2));
          history_date.push(history_data[i].History_date_formatter);
        }
  }

  var options = {
    series: [{
      name: 'Temperatur',
      data: temperature.reverse()
    }, {
      name: 'pH',
      data: ph.reverse()
    },
    {
      name: 'Disolved Oxygen',
      data: dissolved_oxygen.reverse()
    }],
    chart: {
      id: 'myChart',
      height: 350,
      type: 'area',
    },
    colors:['#4746BD', '#ff521d', '#d8ed9e'],
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'smooth'
    },
    xaxis: {
      type: 'category',
      categories: history_date.reverse(),
      labels: {
        show: false
      }
    },
    tooltip: {
      x: {
        format: 'dd/MM/yy HH:mm'
      },
    },
  };

  var chart = new ApexCharts(document.querySelector("#chartByid"), options);
  chart.render();
</script>
{{ end }}