{{ define "content" }} {{ if .message }}
  <div class="toastMessage toast toast-top toast-center transition-opacity duration-500">
    <div class="alert {{ if eq .status "success" }}alert-success{{ else }}alert-error{{ end }}">
      <span>{{ .message }}</span>
    </div>
  </div>
{{ end }}


<div class="card-body flex flex-col justify-between min-h-screen">
  <div class="w-full flex justify-center">
    <h1 class="font-bold text-3xl">BATUMBUAH</h1>
  </div>
  <form id="loginPage" method="POST" action="/login">
    <div class="form-control mb-4">
      <label for="email" class="label">
        <span class="label-text">Email address</span>
      </label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Masukkan Email Anda"
        class="input input-bordered w-full"
      />
    </div>
    <div class="form-control mb-4">
      <label for="password" class="label">
        <span class="label-text">Password</span>
      </label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Masukkan Password Anda"
        class="input input-bordered w-full"
      />
    </div>
    <button type="submit" class="btn btn-primary w-full mt-3">Login</button>
  </form>
  <!-- <div class="flex justify-center mt-4">
    Belum punya akun?
    <a href="/register" class="link ml-2"> Daftar disini </a>
  </div> -->
  <div class="flex justify-center mt-4">
    Batumbuah 2024  
  </div>
  {{ end }}
</div>
