{{ define "content" }}
<div class="content-container-large">
    <div class="header-container-large d-flex justify-content-between">
      <h1 class="page-title">{{ .title }}</h1>
    </div>
    <div class="table-responsive overflow-scroll">
        <table id="guppytech-table" class="table table-striped report-page" style="width:100%">
            <thead>
                <tr style="height: 50px; vertical-align: middle;">
                    <th style="display: none;"></th>
                    <th>History Date</th>
                    <th>Nama Perangkat</th>
                    <th>Status Device</th>
                    <th>Mode</th>
                    <th>Temperature</th>
                    <th>pH</th>
                    <th>Adc pH</th>
                    <th>Maksimum DO</th>
                </tr>
            </thead>
            <tbody>
                {{ range .history }}
                <tr style="height: 50px; vertical-align: middle;">
                    <td style="display: none;">{{ .History_date }}</td>
                    <td>{{ .History_date_formatter }}</td>
                    <td>{{ .History_device_name }}</td>
                    {{ if eq .History_status_name "Tidak Aktif" }}
                    <td><span class="status-off-table">Tidak Aktif</span></td>
                    {{ else }}
                    <td><span class="status-on-table">Aktif</span></td>
                    {{ end }}
                    {{ if eq .History_mode_name "Manual" }}
                    <td><span class="status-manual-table">Manual</span></td>
                    {{ else }}
                    <td><span class="status-auto-table">Otomatis</span></td>
                    {{ end }}
                    <td>{{ .History_temperature }}</td>
                    <td>{{ .History_ph }}</td>
                    <td>{{ .History_ph_adc }}</td>
                    <td>{{ .History_dissolved_oxygen }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}